

#credits{
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.code{
    border: 2px solid #BB86FC;
    border-collapse: collapse;
    background-color: #404040;
    color: #eeeeee;
}


span{
    font-family: monospace;
    color: #03DAC5;
}

.tab1{
    margin-left: 20px;
}

.tab2{
    margin-left: 40px;
}


body {
    margin-left: 1vw;
    font-family: Calibri;
    color: #eeeeee;
    background-color: #242424;
}

h1, h2, h3{
    color: #BB86FC;
}

a:link{
   color: #FF7597;
}

a:visited{
    color: #FF0266;
}
