

#credits{
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.code{
    background-color: #363636;
    color: #eeeeee;
}


span{
    color: #03DAC5;
}

.tab1{
    margin-left: 20px;
}

.tab2{
    margin-left: 40px;
}


body {
    font-family: Calibri;
    color: #eeeeee;
    background-color: #242424
}

h1, h2, h3{
    color: #BB86FC
}

a:link{
   color: #FF7597
}

a:visited{
    color: #FF0266
}