

#credits{
    position: absolute;
    bottom: 0;
    font-size: 0.925vh;
}

.code{
    font-size: 1.48vh;
    border: 0.185vh solid #BB86FC;
    border-collapse: collapse;
    width: 50vw;
    background-color: #404040;
    color: #eeeeee;
}
code{
    font-size: 1.48vh;
}


span{
    font-family: Monospace;
    color: #03DAC5;
}

span.highlight{
    font-family: Calibri;
    color: #FF0022;
}

.tab1{
    margin-left: 1.85vh;
}

.tab2{
    margin-left: 3.704vh;
}


body {
    font-size: 1.48vh;
    margin-left: 1vw;
    margin-right: 20vw;
    font-family: Calibri;
    color: #eeeeee;
    background-color: #242424;
}

h1, h2, h3{
    color: #BB86FC;
}

a:link{
   color: #FF7597;
}

a:visited{
    color: #FF0266;
}

ul, ol {
    padding-left: 3.703vh;
}

